<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Development-->
		<!-- End Development Connection Strings-->
		<add name="JaganLocalDB" connectionString="Data Source =Jaggu-Razer ;Initial Catalog= MH_InternalDB ;integrated security= SSPI; Connection TimeOut =10 ; Min Pool Size =5"
			providerName ="System.Data.SqlClient" />
		
		<!-- Production -->
		<!-- End Production Connection Strings-->
		
	</connectionStrings>
	<appSettings>
		<add key="env" value="dev" />
		
	</appSettings>
		
</configuration>